body {
    background-color: rgb(16,9,19);

}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar-collapse {
    justify-content: center;
}

.btn-outline-purple{
    border-color: rgb(16,9,19);
}

.btn-outline-purple:hover{
    background-color: rgb(16,9,19);
    color:white;
}

.btn-primary{
    background: rgb(16,9,19);
}

.btn-primary:hover{
    background-color: rgb(141,118,154);
    color:white;
}

.custom-margin {
margin-left: 10px;
}



.carousel-item {
    width: 100%;
    max-height: 500px;
}

.emCartaz, .noticias, .criticas{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.container_Cartaz img, .container_Criticas img, .container_Trailers img {
    width: 100%;
    margin-bottom: 11px;
}


.container_Noticias .container, .container_Cartaz .container,
.container_Criticas .container, .container_Trailers .container,
.section_Titulo, .cartaz {
    max-width: 1035px;
    margin: auto;
    background-color: rgb(217,216,217);
}

.container_Noticias .container, .container_Cartaz .container,
.container_Criticas .container, .container_Trailers .container {
    padding: 60px 15px;
}

.container_Noticias .card {
    background-color: transparent;
    border: 0;
}

.section_Titulo {
    background-color: rgb(141,118,154);
    padding: 10px;
    text-align: center;
    /* margin-bottom: 16px; */
}

.footer, .footer a{
    color: rgb(141,118,154) !important;
}

.topbar {
    background-color: white;
}

.topbar a {
    color: rgb(16,9,19);
}

.topbar a:hover{
    color: rgb(141,118,154)
}

#trailer {
    display: none;
}

#registrar {
    text-decoration: none;
    color:rgb(16,9,19) ;
}

#registrar:hover{
    color: rgb(141,118,154);
}

@media (max-width: 975px) {
    .custom-margin {
        margin-top: 10px;
        margin-left: 0;
    }

    #carouselExampleCaptions {
        margin-bottom: 0 !important;
    }

    footer {
        text-align: center;
        
    }

    footer .navlista{
        flex-direction: column !important;
    }
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.star-filled{
    color: gold;
}

.star-inactive{
    color:#cecece

}








